<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Songs</title>
</head>
<body>
	<section>
		<form action="/songs/new" method="POST">
			Name of the song: <input type="text" name="songName" />
			Name of the Artist: <input type="text" name="artist" /> 
			<button >Submit</button>
		</form>
	</section>
</body>
</html>