<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Counting</title>
</head>
<body>
	<section>
		<a href="../">Back</a>
		<% (0..200).each do |line|%>
		<p><%= line %></p>
		<% end %>
	</section>
	
</body>
</html>