<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Calculator</title>
</head>
<body>
	<section>
		<form action="/result" method="POST">
			<input type="text" name="number1" />
			<input type="text" name="number2" />
			<input type="submit" name="operator" value="Add" />
			<input type="submit" name="operator" value="Multiply" />
			<input type="submit" name="operator" value="Substract" />
			<input type="submit" name="operator" value="Divide" />
		</form>
		<a href="./counting">Counting...</a>
	</section>
</body>
</html>